AZURE_OPENAI_API_KEY=my_key
AZURE_OPENAI_ENDPOINT=my_endpoint
AZURE_OPENAI_DEPLOYMENT_NAME=gpt-4.1-mini
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-large

GOOGLE_CLIENT_ID=my_google_client_id
GOOGLE_CLIENT_SECRET=my_google_client_secret

HUBSPOT_CLIENT_ID=my_hubspot_client_id
HUBSPOT_CLIENT_SECRET=my_hubspot_client_secret

# Microsoft Work IQ Credentials
MICROSOFT_TENANT_ID=my_microsoft_tenant_id
MICROSOFT_CLIENT_ID=my_microsoft_client_id
MICROSOFT_CLIENT_SECRET=my_microsoft_client_secret

TAVILY_API_KEY=my_tavily_api_key


DEFAULT_USER_NAME=your name 
BACKEND_URL=https://localhost:8000
OAUTH_REDIRECT_URI=http://localhost:8000/api/mcp/oauth/callback
HOST=0.0.0.0
PORT=8000